#bildekarusell.carousel.slide
  ol.carousel-indicators
    each bilde, i in bilder
      if i === 0
        li.active(data-target='#bildekarusell', data-slide-to='0')
      else
        li(data-target='#bildekarusell', data-slide-to='#{i}')      

  .carousel-inner
    each bilde, i in bilder
      if i === 0   
        .active.item
          img(src="#{bilde.url}")
          .carousel-caption
            h4 #{bilde.overskrift}
            p #{bilde.tekst}
      else
        .item  
          img(src="#{bilde.url}")
          .carousel-caption
            h4 #{bilde.overskrift}
            p #{bilde.tekst}

  a.carousel-control.left(href='#bildekarusell', data-slide='prev') &lsaquo;
  a.carousel-control.right(href='#bildekarusell', data-slide='next') &rsaquo;