!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Hochzeitsseite für André und Sarah, die am 24.08.2013 heiraten.')
    meta(name='author', content='André Kvist Aronsen')
    link(href='/css/bryllup.min.css', rel='stylesheet')

    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

  body#hovedside(data-spy="scroll", data-target=".navbar")
    #hovednavbar.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Hochzeit 24.08.13
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#hovedside') Home
              li
                a(href='#svar') Gäste
              li
                a(href='#viktiginfo') Info
              li
                a(href='#kart') Adressen  
              li
                a(href='#spilleliste') Musik       
              li
                a(href='#bilder') Bilder
              li
                a(href='#kommentarer') Kommentare  
            .nav.pull-right
              button#loggut.btn.btn-success(href='/') 
                i.icon-user.icon-white 
                |  Ausloggen, #{invitasjon.tiltale}
    .container-fluid(style="height: 100%;")
      #velkommenseksjon.seksjon
        h1 Willkommen zur Hochzeit, #{invitasjon.tiltale}!

        p.lead Diese Seite enthält alles über die Hochzeit am 24. August 2013!

        img(src="/ico/hjerte.png")

      hr#svar.soften  

      #svarseksjon.seksjon
        h1 Gäste

        h2 Bitte antwortet spätestens am 15. juni 2013
        p.lead Kommentare oder besondere Bedürfnisse werden unter dem jeweiligen Gast eingetragen.
        p Bei Änderungen im Familienstand bitte eine Mail an
          |  
          a(href="mailto:#{epost}") #{epost}
          | 
          | schicken
          | und wir werden dementsprechend einen Begleiter hinzufügen oder entfernen :-)
        each gjest, i in invitasjon.gjester
          .gjest.row-fluid
            .span12
              if gjest.kommer === 'Ja' 
                p.gjest-fulltnavn.text-success
                  strong #{gjest.fulltNavn}
              else if gjest.kommer === 'Nei'
                p.gjest-fulltnavn.text-error
                  strong #{gjest.fulltNavn}
              else
                p.gjest-fulltnavn.text-warning    
                  strong #{gjest.fulltNavn}
              .gjest-kommer.btn-group(data-toggle='buttons-radio', data-gjestindex='#{i}')
                if gjest.kommer === 'Ja'
                  button.kommer.btn.btn-success.active(type='button') Kommt
                  button.kommer-ikke.btn.btn-success(type='button') Kommt nicht 
                else if gjest.kommer === 'Nei'
                  button.kommer.btn.btn-success(type='button') Kommt
                  button.kommer-ikke.btn.btn-success.active(type='button') Kommt nicht  
                else
                  button.kommer.btn.btn-success(type='button') Kommt
                  button.kommer-ikke.btn.btn-success(type='button') Kommt nicht
              
                .kommentar                  
                  textarea.gjest-kommentar(placeholder='Kommentare/Sonderbedürfnisse', 
                                           data-gjestindex='#{i}') #{gjest.kommentar}
                      
        h2 Gästeliste

        p.lead Hier findet Ihr eine aktualisierte Liste der Gäste, die zugesagt haben.
        
        a#vis-gjesteliste(class="btn btn-success btn-large",
                          role="button", 
                          data-toggle="modal", 
                          data-target="#gjesteliste-modal",
                          href="/gjesteliste") Gäste anzeigen

        #gjesteliste-modal.modal.hide.fade(role="dialog", tabindex="-1")

      hr#viktiginfo.soften

      #viktiginfoseksjon.seksjon
        h1 Wichtige Information
        p.lead Hier findet Ihr aktualiserten Information über die Hochzeit.

        h2 Schlüsselpersonen
        p Hier werden die Schlüsselpersonen der Hochzeit eingetragen als sie bestimmt werden.

        .container
          .span3
          .span6
            dl
              dt Die Trauzeuginnen der Braut
              dd Mie Molin Lafjell og Renate Nordahl
              dt Der Trauzeuge des Bräutigam
              dd Aleksander Kvist Aronsen
          .span3          

        h2 Zeitplan
        #tidsplan
          p 
            span.klokkeslett 14.30 Uhr
            |: Trauung in Mortensrud Kirke
          p ab etwa 
            span.klokkeslett 16.00 Uhr
            |: Empfang auf der Miles-Terrasse. Es wird Sekt und Kleinigkeiten serviert.
          p 
            span.klokkeslett 18.30 Uhr
            |: Das Essen + Party

        h2 Mittagessen
        p Zum Essen wird ganzes Lamm gegrillt.
        p Sonderbedürfnisse, z.B. Vegetarianer, Laktoseintoleranz, Zöliakie, usw., werden im Kommentarfelt unter dem Gast eingetragen.

        h2 Übernachtung
        p Das Brautpaar wird im Radisson Blu Hotell bei Holbergsplass übernachten. Das Hotel liegt etwa 10 Minuten zu Fuß von der Feier entfernt.
        p Es gibt auch einige andere Hotels in der Nähe.

        h2 Wünsche
        p Am meisten würden wir uns über einen finanziellen Beitrag für unsere Flitterwochen freuen. :-) 

      hr#kart.soften

      #kartseksjon.seksjon
        h1 Adressen
        p.lead Hier findet Ihr Adressen, Wegbeschreibungen und Geopositionen der wichtigsten Lokationen. 

        h3 Trauung
        p Die Kirche liegt etwa 3 Minuten zu Fuß vom Mortensrud T-bane (U-Bahn Linie 3).

        address
          strong Mortensrud Kirke
          br 
          | Helga Vaneks Vei 15
          br
          | 1281 Oslo
        button#zoomkirke.btn.btn-success(type='button') Kirche einzoomen  

        h3 Feier
        p Die Feier wird auf der Dachterrasse von Miles bei Bislett Stadion gehalten. Der Eingang liegt im Hof und nicht gegen dem Stadion. 
        p Das Essen wird eingenommen draußen auf der Terrasse, also nimmt bitte varme Kleider mit, falls es kalt wird (wir sind ja in Norwegen...).
        p Es gibt aber auch die Möglichkeit, nach dem Essen sich ins Lokal zurückzuziehen.
        p Öffentliches Verkehr: Am Besten die Straßenbahn 17 oder 18 nach  
          strong Dalsbergstien 
          | nehmen. Die fahren vom HBf in Richtung Rikshospitalet.
        p Parken: Auf Bislett muß man in der Regel an der Straßen parken. Es gibt allerdings einige gebührenpflichtigen Parkplätze bei NAV in Pilestredet 56.    
        address
          strong Miles Oslo AS
          br 
          | Bislettgata 4
          br
          | 0170 Oslo 
        button#zoomfest.btn.btn-success(type='button') Feier einzoomen

        h3 Parkhaus
        p Für diejenige, die im Parkhaus parken wollen, gibt es ein Parkhaus in der Nähe von Tinghuset. Es liegt etwa 18 Minuten zu Fuß oder 3 Haltestellen mit der Straßenbahn entfernt.
        address
          strong Europark Sentrum P-Hus
          br 
          | C.J. Hambros plass 1
          br
          | 0164 Oslo
        button#zoomphus.btn.btn-success(type='button') Parkhaus einzoomen

        h3 Übernachtung
        address
          strong Radisson Blu Scandinavia Hotel Oslo
          br 
          | Holbergsgate 30
          br
          | 0166 Oslo
        button#zoomhotell.btn.btn-success(type='button') Hotel einzoomen 

        h3 Karte
        p#kart-zoom-anker.lead Die genauen Geopositionen sind in der Karte unten markiert.
        p
          button#zoomut.btn.btn-success(type='button') Auszoomen

        #kart_canvas

      hr#spilleliste.soften

      #spillelisteseksjon.seksjon
        h1 Playlist

        p.lead Wir haben ein Sounddrop-Room eingerichtet, wo die Gäste Lieder aus Spotify hinzufügen und abchecken können. Die beliebtesten Lieder rücken nach oben in der Playlist.  
        p Diejenige, die nicht auf Spotify sind, können Musikwünsche im Kommentarfelt ganz unten auf der Seite vorschlagen.
        
        #sounddrop-container
          iframe#spilleliste-soundrop(src='', width='100%', height='750', frameborder='0', 
               webkitallowfullscreen='webkitAllowFullScreen', 
               mozallowfullscreen='mozallowfullscreen', 
               allowfullscreen='allowFullScreen')

      hr#bilder.soften

      #bildeseksjon.seksjon
        h1 Bilder

        p.lead Hier werden Bilder von der Hochzeit angezeigt :)

        p Schickt uns gerne Hochzeitsbilder an  
          a(href='mailto:#{epost}') #{epost}
          | und wir werden sie hier hochladen.

        #bildekarusell

      hr#kommentarer.soften
      
      #kommentarseksjon.seksjon
        h1 Kommentare

        p.lead Bitte Kommentare, Musikkwünsche, usw. hier eintragen!

        #disqus_thread
      
        a.dsq-brlink(href='http://disqus.com')
          | comments powered by
          span.logo-disqus Disqus
  

      footer.footer
        img#pacman(src='/img/ajax-loader.gif')
        p Gebastelt von André Kvist Aronsen &copy; 2013

    //script(src='/js/jquery.js')
    //script(src='/js/underscore.js')
    //script(src='/js/modernizr.js')
    //script(src='/js/bootstrap.min.js')
    //script(src='/js/bryllup.js')
    
    script(src='/js/bryllup.min.js')
    
    script
      $(document).ready(function() {
        BRYLLUP.startHovedside(!{JSON.stringify(invitasjon)});
      });
