!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bryllupsside for André og Sarah som gifter seg den 24.08.2013')
    meta(name='author', content='André Kvist Aronsen')
    link(href='/css/bootstrap.min.css', rel='stylesheet') 
    style(type="text/css") body {padding-top: 60px;} 
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/bootstrap-modal.css', rel='stylesheet')
    link(href='/css/bryllup.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

  body#hovedside(data-spy="scroll", data-target=".navbar")
    #hovednavbar.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Bryllup 24. august 2013
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#hovedside') Hjem
              li
                a(href='#svar') Svar   
              li
                a(href='#gjesteliste') Gjesteliste 
              li
                a(href='#mat') Mat    
              li
                a(href='#bilder') Bilder
            .nav.pull-right
              button#loggut.btn.btn-success(href='/') 
                i.icon-user.icon-white 
                |  Logg ut, #{invitasjon.tiltale}
    .container-fluid(style="height: 100%;")
      #velkommenseksjon.seksjon
        h1 Velkommen til bryllup, #{invitasjon.tiltale}!

        p Introtekst

      hr#svar.soften  

      #svarseksjon.seksjon
        h2 Svar innen 15. juni 2013
        each gjest, i in invitasjon.gjester
          .gjest.row-fluid
            .span12 
              h5 #{gjest.fulltNavn}
              .gjest-kommer.btn-group(data-toggle='buttons-radio', data-gjestindex='#{i}')
                if gjest.kommer === 'Ja'
                  button.kommer.btn.btn-success.active(type='button') Kommer
                  button.kommer-ikke.btn.btn-success(type='button') Kommer ikke 
                else if gjest.kommer === 'Nei'
                  button.kommer.btn.btn-success(type='button') Kommer
                  button.kommer-ikke.btn.btn-success.active(type='button') Kommer ikke  
                else
                  button.kommer.btn.btn-success(type='button') Kommer
                  button.kommer-ikke.btn.btn-success(type='button') Kommer ikke
              
                .kommentar                  
                  textarea.gjest-kommentar(placeholder='Kommentarer/Spesielle behov', 
                                           data-gjestindex='#{i}') #{gjest.kommentar}
                      
      hr#gjesteliste.soften

      #gjestelisteseksjon.seksjon
        h2 Gjester som kommer

        p Det er invitert 100 gjester, blabla.

        a#vis-gjesteliste(class="btn btn-success btn-large",
                          role="button", 
                          data-toggle="modal", 
                          data-target="#gjesteliste-modal",
                          href="/gjesteliste") Vis gjesteliste

        #gjesteliste-modal.modal.hide.fade(role="dialog", tabindex="-1")

      hr#kart.soften

      #kartseksjon.seksjon
        h2 Veibeskrivelse

        p Vielsen finner sted i Mortensrud Kirke, Helga Vaneks Vei 15, 1281 Oslo.
        p Festen er på terrassen til Miles, Bislettgata 4, 0170 Oslo.
        p Posisjonene er markert på kartet under.

        #kart_canvas

      hr#mat.soften

      #matseksjon.seksjon
        h2 Mat og drikke

        p Det serveres helgrillet lam med tilbehør.
        p Hvis det er spesielle behov (vegetarianer, laktoseintolerant, søliaki, etc.), så legges dette inn i kommentarfeltet.

      hr#bilder.soften

      #bildeseksjon.seksjon
        h2 Bilder

        p Her vil det legges inn bilder fra bryllupsdagen :)

        #bildekarusell

      footer.footer
        p Håndlaget av André Kvist Aronsen, &copy; 2013

    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/modernizr.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bryllup.js')
    //script(src='/js/bryllup.min.js')
    script
      $(document).ready(function() {
        BRYLLUP.startHovedside(!{JSON.stringify(invitasjon)});
      });
