!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bryllupsside for André og Sarah som gifter seg den 24.08.2013')
    meta(name='author', content='André Kvist Aronsen')
    
    //link(href='/css/bootstrap.min.css', rel='stylesheet') 
    //style(type="text/css") body {padding-top: 60px;} 
    //link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    //link(href='/css/bootstrap-modal.css', rel='stylesheet')
    //link(href='/css/bryllup.css', rel='stylesheet')

    link(href='/css/bryllup.min.css', rel='stylesheet')

    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

  body#hovedside(data-spy="scroll", data-target=".navbar")
    #hovednavbar.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Bryllup 24.08.13
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#hovedside') Hjem
              li
                a(href='#svar') Gjester
              li
                a(href='#viktiginfo') Info
              li
                a(href='#kart') Adresser  
              li
                a(href='#spilleliste') Musikk       
              li
                a(href='#bilder') Bilder
              li
                a(href='#kommentarer') Kommentarer  
            .nav.pull-right
              button#loggut.btn.btn-success(href='/') 
                i.icon-user.icon-white 
                |  Logg ut, #{invitasjon.tiltale}
    .container-fluid(style="height: 100%;")
      #velkommenseksjon.seksjon
        h1 Velkommen til bryllup, #{invitasjon.tiltale}!

        p.lead Denne siden inneholder alt #{invitasjon.antallGjester == 1 ? 'du' : 'dere'} trenger å vite om bryllupet den 24. august!

        img(src="/ico/hjerte.png")

      hr#svar.soften  

      #svarseksjon.seksjon
        h1 Gjester

        h2 Svar innen 15. juni 2013
        p.lead Legg gjerne inn evt. kommentarer og spesielle behov i feltet under hver gjest.
        p Blir det endring i sivilstatus, så send oss en mail på
          |  
          a(href="mailto:#{epost}") #{epost}
          | 
          | så legger vi til, fjerner eller endrer ledsager :-)
        each gjest, i in invitasjon.gjester
          .gjest.row-fluid
            .span12
              if gjest.kommer === 'Ja' 
                p.gjest-fulltnavn.text-success
                  strong #{gjest.fulltNavn}
              else if gjest.kommer === 'Nei'
                p.gjest-fulltnavn.text-error
                  strong #{gjest.fulltNavn}
              else
                p.gjest-fulltnavn.text-warning    
                  strong #{gjest.fulltNavn}
              .gjest-kommer.btn-group(data-toggle='buttons-radio', data-gjestindex='#{i}')
                if gjest.kommer === 'Ja'
                  button.kommer.btn.btn-success.active(type='button') Kommer
                  button.kommer-ikke.btn.btn-success(type='button') Kommer ikke 
                else if gjest.kommer === 'Nei'
                  button.kommer.btn.btn-success(type='button') Kommer
                  button.kommer-ikke.btn.btn-success.active(type='button') Kommer ikke  
                else
                  button.kommer.btn.btn-success(type='button') Kommer
                  button.kommer-ikke.btn.btn-success(type='button') Kommer ikke
              
                .kommentar                  
                  textarea.gjest-kommentar(placeholder='Kommentarer/Spesielle behov', 
                                           data-gjestindex='#{i}') #{gjest.kommentar}
                      
        h2 Gjester som kommer

        p.lead Her vises en oppdatert liste over alle gjester som har takket ja til å komme i bryllupet.

        a#vis-gjesteliste(class="btn btn-success btn-large",
                          role="button", 
                          data-toggle="modal", 
                          data-target="#gjesteliste-modal",
                          href="/gjesteliste") Vis gjesteliste

        #gjesteliste-modal.modal.hide.fade(role="dialog", tabindex="-1")

      hr#viktiginfo.soften

      #viktiginfoseksjon.seksjon
        h1 Viktig informasjon
        p.lead Her finnes oppdatert nøkkelinformasjon om bryllupet.

        h2 Nøkkelpersoner
        p Her vil det legges inn viktige nøkkelpersoner etterhvert som de blir bestemt.

        .container
          .span3
          .span6
            dl#nokkelpersoner.dl-horizontal
              dt Forlovere brud
              dd Mie Molin Lafjell og Renate Nordahl
              dt Forlover brudgom
              dd Aleksander Kvist Aronsen
          .span3          

        h2 Tidsplan
        #tidsplan
          p 
            span.klokkeslett kl. 14.30
            |: Vielse i Mortensrud Kirke
          p fra ca. 
            span.klokkeslett kl. 16.00
            |: Mottakelse på Miles-terrassen. Det vil bli servert sprudlevann og snacks.
          p 
            span.klokkeslett kl. 18.30
            |: Mat + fest

        h2 Mat og drikke
        p Det serveres helgrillet lam med tilbehør.
        p Hvis det er spesielle behov (vegetarianer, laktoseintolerant, søliaki, etc.), så legges dette inn i kommentarfeltet under den gjesten det gjelder.

        h2 Overnatting
        p Brudeparet skal overnatte på Radisson Blu Hotell ved Holbergsplass. Det er ca. 10 min gange fra festen.
        p Det finnes også mange andre alternative hotell i nærheten.

        h2 Ønskeliste
        p Vi ønsker oss først og fremst pengegaver til vår bryllupsreise.

      hr#kart.soften

      #kartseksjon.seksjon
        h1 Adresser
        p.lead Her finner #{invitasjon.antallGjester == 1 ? 'du' : 'dere'} adresser, veibeskrivelser og geoposisjon til de viktige lokasjonene. 

        h3 Vielse
        p Kirken ligger i gåavstand fra Mortensrud T-bane.

        address
          strong Mortensrud Kirke
          br 
          | Helga Vaneks Vei 15
          br
          | 1281 Oslo
        button#zoomkirke.btn.btn-success(type='button') Zoom inn Kirke  

        h3 Fest 
        p Festen holdes på penthouse-terrassen til Miles ved Bislett Stadion. Inngangen er i bakgården, altså ikke mot Stadion.
        p Middagen blir holdt ute på terrassen, så det kan være lurt å ta med varme klær i tilfelle det blir kaldt. 
        p Det er også mulighet for å trekke inn i lokalet.
        p Kollektivtransport: Nærmeste holdeplass er 
          strong Dalsbergstien 
          | hvor trikk 18 og 19 stopper. 
        p Parkering: Det er mest gateparkering på Bislett. Noen parkeringsplasser med parkometer finnes utenfor NAV i Pilestredet 56.    
        address
          strong Miles Oslo AS
          br 
          | Bislettgata 4
          br
          | 0170 Oslo 
        button#zoomfest.btn.btn-success(type='button') Zoom inn Fest

        h3 Parkeringshus
        p For de som vil parkere i parkeringshus, så er det nærmeste i nærheten av Tinghuset. Herfra er det 18 min gange eller 3 trikkeholdeplasser unna festen.
        address
          strong Europark Sentrum P-Hus
          br 
          | C.J. Hambros plass 1
          br
          | 0164 Oslo
        button#zoomphus.btn.btn-success(type='button') Zoom inn P-Hus

        h3 Overnatting
        address
          strong Radisson Blu Scandinavia Hotel Oslo
          br 
          | Holbergsgate 30
          br
          | 0166 Oslo
        button#zoomhotell.btn.btn-success(type='button') Zoom inn Hotell  

        h3 Kart
        p#kart-zoom-anker.lead De nøyaktive geo-posisjonene er markert på kartet under.
        p
          button#zoomut.btn.btn-success(type='button') Zoom ut

        #kart_canvas

      hr#spilleliste.soften

      #spillelisteseksjon.seksjon
        h1 Spilleliste

        p.lead Vi har opprettet et rom på Soundrop hvor alle kan legge til og stemme opp sanger som skal spilles på bryllupsfesten.
        p De som ikke er på Spotify kan legge igjen en kommentar nederst på siden med musikkønske, så blir det lagt til i spillelisten.

        #sounddrop-container
          iframe#spilleliste-soundrop(src='', width='100%', height='750', frameborder='0', 
               webkitallowfullscreen='webkitAllowFullScreen', 
               mozallowfullscreen='mozallowfullscreen', 
               allowfullscreen='allowFullScreen')


      hr#bilder.soften

      #bildeseksjon.seksjon
        h1 Bilder

        p.lead Her vil det legges inn bilder fra bryllupsdagen :)

        p Send oss gjerne bilder fra bryllupsfesten på 
          a(href='mailto:#{epost}') #{epost}
          | , så legger vi det ut på denne siden.

        #bildekarusell

      hr#kommentarer.soften
      
      #kommentarseksjon.seksjon
        h1 Kommentarer

        p.lead Legg gjerne igjen kommentarer, musikkønsker o.l. her!

        #disqus_thread
      
        a.dsq-brlink(href='http://disqus.com')
          | comments powered by
          span.logo-disqus Disqus
  

      footer.footer
        img#pacman(src='/img/ajax-loader.gif')
        p Håndlaget av André Kvist Aronsen &copy; 2013

    //script(src='/js/jquery.js')
    //script(src='/js/underscore.js')
    //script(src='/js/modernizr.js')
    //script(src='/js/bootstrap.min.js')
    //script(src='/js/bryllup.js')
    
    script(src='/js/bryllup.min.js')
    
    script
      $(document).ready(function() {
        BRYLLUP.startHovedside(!{JSON.stringify(invitasjon)});
      });
